/* CHANGE COLORS ON TOP OF BOXES */
#skillsbox > div, #main_box > div, #aboutbox > div, #networkbox > div, #projectbox > div, #publicationbox > div, #teachingbox > div, #profilebox > div {
    border-width:thin;
    border-top-width:thick;
    border-bottom-color: white;
    border-left-color:white;
    border-right-color: white;
    border-top-color:#000000;
}

.nav-tabs-custom .nav-tabs li.active {
    border-width:thin;
    border-top-width:thick;
    border-bottom-color: white;
    border-left-color:white;
    border-right-color: white;
    border-top-color:#000000;
}

/* customize background color of body */
.content-wrapper {
  background-color: #EBEBEB;
}


/* CHANGE COLOR OF MAIN SIDE BAR */
.main-sidebar {
  background-color: #000000 !important;
}

/* CHANGE COLOR OF BUTTON */
#profilebox > div > div > a {
  background-color: #000000 !important;
}

#profilebox > div > div > a:hover {
  background-color: #21CE99 !important;
}


/* CHANGE COLOR OF SYMBOLS */
i {
  color: #21CE99;
}

b {
  color: #000000;
}

#dynamicFooter {
  background-color: #000000;
}

/* CHANGE COLOR OF LINKS */
a {
  color: #21CE99 !important;
}

a:hover {
	text-decoration:underline;
	color: #21CE99 !important;
}


/* CHANGE COLOR OF BG LIGHT BLUE */
.bg-light-blue {
  background-color: red !important;
}

.bg-light-blue-activ {
  background-color: red !important;
}



