/* CHANGE COLORS ON TOP OF BOXES */
#skillsbox > div, #mainbox > div, #aboutbox > div, #networkbox > div, #projectbox > div, #publicationbox > div, #teachingbox > div, #profilebox > div {
    border-width:thin;
    border-top-width:thick;
    border-bottom-color: white;
    border-left-color:white;
    border-right-color: white;
    border-top-color:#252C34;
}



/* CHANGE COLOR OF SYMBOLS */
i {
  color: #21CE99;
}
